#grandparent {
  background-color: grey;
}
#parent1{
  background-color: ForestGreen;

}

#child1{

}
#parent2{
  background-color: LimeGreen;
  font-family:fantasy;

}
#parent3{
  background-color: Lime;

}


#parent4{
  background-color: LightGreen;
}



ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

.mySlides{
  width: 300px;
  height: 300px;
}
